footer{
    background-color: darkslategray;
    color: beige
}

.img img{
    height: 30px;
    width: 30px;
    margin-right: 1rem;
}

.copyright {
    font-size: 11px;
    text-align: center;
}

.contato p {
    font-size: 14px;
    text-align: center;
}

.contato p a{
    color:beige;
}

.contato p a:hover{
    color:beige;
}

.endereco {
    font-size: 11px;
    text-align: right;
   
}